# --- Python / Django ---
__pycache__/
*.py[cod]
*.sqlite3
env/
.demo
venv/
*.log

# Django static and media files
/staticfiles/
media/

# --- Node / React ---
node_modules/
build/
dist/

# --- OS / Editor files ---
.DS_Store
.vscode/
.idea/
