name: Keep Render Backend Awake

on:
  schedule:
    - cron: '*/10 * * * *'  # every 10 minutes
  workflow_dispatch:  # allows manual trigger

jobs:
  ping-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render Backend
        run: |
          curl -s https://project-backend-y46x.onrender.com/api/ > /dev/null
          echo "Pinged backend!"
